*$py.class
*.egg
*.egg-info/
*.egg-info/*
*.manifest
*.py[cod]
*.so
*.spec
.Python
.code-workspace
.coverage
.eggs/
.idea/
.installed.cfg
.mypy_cache
.vscode/.ropeproject
MANIFEST
__pycache__/
build/
coverage.xml
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
pip-delete-this-directory.txt
pip-log.txt
sdist/
share/python-wheels/
var/
wheels/