*$py.class
*.egg
*.egg-info/
*.manifest
*.py[cod]
*.so
*.spec
.Python
.eggs/
.installed.cfg
.mypy_cache
MANIFEST
__pycache__/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
pip-delete-this-directory.txt
pip-log.txt
sdist/
share/python-wheels/
var/
wheels/
